body,
.default-background,
.panel-heading,
.input-group-addon-custom {
    background-color: #294A70;
    color: #FFFFFF;
}

.header-title {
    margin-top: 40px;
}

.content-row {
    margin-top: 10px;
}


.btn-custom,
.input-group-addon-custom {
    background-color: #F4A024;
    border-color: #FFFFFF;
}
    .btn-custom:hover,
    .btn-custom:focus,
    .btn-custom:active,
    .btn-custom.active,
    .open > .dropdown-toggle.btn-custom,
    .input-group-addon-custom:hover,
    .input-group-addon-custom:focus,
    .input-group-addon-custom:active,
    .input-group-addon-custom.active,
    .input-group-addon-custom > .dropdown-toggle.btn-custom {
        color: white;
        background-color: #CB7D08 !important;
        border-color: #FFFFFF !important;
    }


.reverse-background {
    background-color: #FFFFFF;
    color: #294A70;
}

.panel-title .icon {
    text-align: right;
    margin-left: 5px;
    list-style: none;
    display: inline;
}

.btn-event-delete,
.btn-event-edit {
    cursor: pointer;
}


.panel-body {
    border-color: #294A70;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px 00px 5px 5px;
}

.event-name {
    font-size: 20px;
}

.loading {
    margin: 200px auto 200px auto;
    width: 70px;
    text-align: center;
}

.event-item {
    padding: 6px !important;
    border-radius: 15px !important;
    margin: 3px !important;
    padding: 5px 10px !important;
    font-size: 1em !important;
}

.fc-toolbar h2 {
    font-size: 1.2em !important;
}

.jumbotron {
    padding: 40px !important;
}

.jumbotron .content p {
    font-size: 16px;
}

    .loading > div {
        width: 18px;
        height: 18px;
        background-color: rgba(2,88,151,1);
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    .loading .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .loading .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.logo {
    width: 200px;
    margin-top: 80px;
    float: none;
}
